@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

.navigation {
  margin-left: -1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color: black;
  font-weight: bolder;
  font-family: "Rajdhani", sans-serif;
  font-size: 2rem;
}

.mainContainer {
  width: 100vw;
}
